.img-new{
    width: 500px;
    height: auto;
}
.float :left{
 float: left;   
}
.bg-default{
    float: left;
    background-color: yellowgreen;
    width: 100px;
    margin: 20px 40px;
    padding: 50px;
    text-align: center;
}