html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(91, 201, 63);
}

h1 {
    color: rgb(255, 255, 255);
}

.resultadoLbl {
    font-size: 16px;
    color: rgb(255, 255, 255);

}

input {
    margin-top: 10px;
    width: 90%;
    height: 35px;
    padding-left: 5px;
}

button {
    width: 90%;
    border-style: none;
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    color: aliceblue;
    background-color: rgb(212, 35, 29);
    outline: none;
}

.container {
    height: 100vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resultadoLbl {
    font-weight: bold;
    margin-top: 20px;
}