.display-flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.main-container{
    height: 600px;
    background-color: rgb(48, 133, 207);
    flex-direction: row;
}
.item+h2{
    flex-basis: 20%;
    flex-grow: 1;
    height: 400px;
    text-align: center;
    background-color: rgb(34, 170, 113);
    box-shadow: 10px 8px 26px 4px rgba(0,0,0,0.39);
-webkit-box-shadow: 10px 8px 26px 4px rgba(0,0,0,0.39);
-moz-box-shadow: 10px 8px 26px 4px rgba(0,0,0,0.39);
border-radius: 20px;
}
.self-end{
    align-self: flex-end;
}
@media screen and (max-width: 600px;){
    .item{
        flex-grow: 1;
        margin-bottom: 20px;
        background-color: brown;
    }
}
@media screen and (min-width: 601px) and (max-width: 800px){
.item {
    background-color: blueviolet;
}    
}
.flex-direction{
    flex-direction: column;
}