.main-container {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}
.text-container {
    padding: 40px 20px 40px 20px;
    background-color: grey;
    margin-bottom: 20px;
    text-align: center;
}
.img-containter{
    text-align: center;
}
ul .item{
    color: sienna;
    padding: 20px 15px;
    background-color: tomato;
    text-decoration: none;
}
title {
    color: red;
    font-family: Arial, Helvetica, sans-serif;

}